# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Data & Models (Heavy files)
Data/
model.joblib
*.csv
*.joblib
*.pkl

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
