# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Data (Heavy files)
Data/
*.csv
# model.joblib is now tracked for deployment

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
